@import "tailwindcss";

#root{
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: #e4e4e4f0;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2em;
}
body{
  background: black;
}
