@import "tailwindcss";

@theme{
  --color-red:#f59090f0;
  --color-btn:#700040;
  --color-hvr:#6B053F;
}

@layer base{
  h1{
    font-size:2.5em;
  }
  h2{
    font-size:1.5em
  }
}

#root{
  font-family: 'Courier New', Courier, monospace;
}

body{
  background-image: linear-gradient(to right, #060605, #2c0715);
  @apply text-red text-[min(4vw,1em)] pt-30
}

:Link{
  padding:10px;
  @apply text-[min(3vw,1em)]
}

.icon-size{
  @apply h-4 w-4 m-0.5 md:h-5 md:w-5
}

.tab-trigger{
  @apply hover:text-hvr data-[state=active]:text-gray-200 data-[state=active]:bg-btn rounded p-3
}

.ed{
  @apply w-full sm:w-120 bg-black rounded-2xl border-b border-t
}

.job{
  @apply w-full sm:w-120 bg-black rounded-2xl border-b border-t sm:ml-50
}

.hobby_card{
  @apply h-95 md:w-100 bg-black rounded-2xl border-b
}

.projects_card{
  @apply h-95 bg-black rounded-3xl border-b
}


